.header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 3rem;

    & a {
        gap: 5rem;
    }

    & .button {
        color: rgb(198, 225, 248);
        background: rgba(0, 225, 255, 0.541);
        border-radius: 5px;
        padding: 0.3rem;
    }

}