* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.header {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem;
    z-index: 1;


    & .button {
        color: rgb(198, 225, 248);
        border-bottom: 1px solid rgb(0, 255, 242);
        padding: 0.3rem;

        &:hover {
            background: rgba(0, 225, 255, 0.199);
            border-radius: 50px;
        }
    }

}