* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

body {
    background: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}



.middleInfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: end;
    height: 100vh;

    padding-left: 30rem;
    padding-right: 3rem;
    font-size: large;
    text-align: justify;
    color: aliceblue;


}

.wallpaper {
    position: relative;
    object-fit: fill;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.footer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    align-self: center;
    height: 100vh;
    color: aliceblue;
    padding: 1.5rem;
    gap: 0.3rem;

}



