* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


.header {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem;
    z-index: 1;


    & .button {
        color: rgb(15, 46, 48);
        border-bottom: 1px solid rgb(15, 43, 21);
        padding: 0.3rem;

        &:hover {
            background: rgba(75, 78, 253, 0.199);
            border-radius: 50px;
        }
    }

}