* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-decoration: none;
}

body {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}

.middleInfo5 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    align-self: center;
    height: 100vh;


    font-size: large;
    text-align: justify;
    color: rgb(80, 34, 34);
   
    & > h1 {
        font-size: 150px;
    }



}

.wallpaperHero5 {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.middleInfo5 {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: center;
    align-items: start;
    padding: 7rem;
    font-size: 35px;
    text-align: justify;
    color: rgb(80, 34, 34);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
    .h1 {
        font-size: 80px;
        
    }

    .des {
        
    }
}

section .heropic5 {
    display: flex;
    height: 70vh;
    position: absolute;
    bottom: 4rem;
    left: 4rem;
}



