* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


.header {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem;
    z-index: 1;


    & .button {
        color: rgba(255, 238, 88, 0.918);
        border-bottom: 1px solid rgba(255, 242, 53, 0.623);
        padding: 0.3rem;

        &:hover {
            background: rgba(167, 75, 253, 0.199);
            border-radius: 50px;

        }
    }

}