* {
    padding: 0;
    margin: 0;
    box-sizing: 0;
}


.header {

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 2rem;
    padding: 1rem;
    z-index: 1;
    position: sticky;
    top: 0;

    & .button {
        color: rgb(32, 30, 31);
        border-bottom: 1px solid rgb(255, 0, 128);
        padding: 0.3rem;
        background: white;
        

        &:hover {
            background: rgb(255, 255, 255);
            color: rgb(0, 0, 0);
            border-radius: 50px;
            box-shadow: 2px 5px 2px rgb(0, 0, 0);
            
            
        }
    }

}