* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

body {
    background: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    height: 100vh;
}

.wallpaperHero2 {
    position: absolute;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

section .heropic2{
    width: 43rem;
    padding-right: 9rem;
    }

.middleInfo2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    align-self: flex-start;
    gap: 1.2rem;
    height: 100vh;
    padding: 15rem;
    font-size: large;
    text-align: justify;
    color: rgb(134, 114, 0);
    font-size: 20px;

    & > h1 {
        font-size: 60px;
        letter-spacing: 7px;
    }

    & > p {
        padding-right: 30rem;
    }

}






